### Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

In [5]:
# Declaring and Assigning Variables

age = 21
name = "Tejas"
height = "5.11"
is_student = True

## Printing an Variable

print("Age:", age)
print("Name:", name)
print("Height:",height)
print("Student:",is_student)

Age: 21
Name: Tejas
Height: 5.11
Student: True

In [17]:
# Naming Conventions
# Variable names should be descreptive 
## They must start with a letter or "_" and contains letters, numbers and underscore

_n___ame = "Rahul"
print(_n___ame)

_12535 = 6
print(_12535)

_1 = True; print(_1)

naem_522_teasfd= 25; print(naem_522_teasfd)

Rahul
6
True
25

In [11]:
# Invalid Variable name 
2age = 30
print(2age)

SyntaxError: invalid decimal literal (858673793.py, line 2)

In [12]:
first-name = "tejas"
print(first-name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2412347040.py, line 1)

In [13]:
first@name = "tejas"
print(first@name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3755979755.py, line 1)

In [15]:
_@  = True
print(_@)

SyntaxError: invalid syntax (762200711.py, line 1)

In [18]:
# Understanding variable types 
# Python is Dynammicaly typed its variable type is determined at runtime 
age =21
name = "Tejas"
height = 6.1
is_student = True
print(type(age))
print(type(name))
print(type(height))
print(type(is_student))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
# Type Checking and Conversion 
age = 25
print(age)

# Type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

25
25
<class 'str'>

In [22]:
name = "Tejas"
print(int(name))

ValueError: invalid literal for int() with base 10: 'Tejas'

In [23]:
height = 6.11
type(height)

float

In [24]:
float(int(height))

6.0

In [25]:
# Dynamic Typing
# python allows the type of the variable to change at runtime

var = 10 # Initially an integer
print(var, type(var))

var = "Hello" # Now a string
print(var, type(var))

var = 3.14 # Now a float
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [30]:
## input 

age = int(input("Enter your age: "))
print("Your age is:", age)
print("Type of age variable:", type(age))

Your age is: 56
Type of age variable: <class 'int'>

In [ ]:
# Simple Calculator
num1 = float(input("Enter first number: ")) 
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2   
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 61.0
Difference: -11.0
Product: 900.0
Quotient: 0.6944444444444444